@model Trabajoempleados.Models.EMPLEOS

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layoutcreate.cshtml";
}



@using (Html.BeginForm("Create", "BEMPLEOS1", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4 class="text-left" style="font-size: 29px; margin:23px">POSTEAR UN EMPLEO</h4>

        <div class="center-pageCreateEmpleos">
            <hr />

            @*<div class="form-group">
                @Html.LabelFor(model => model.IdEmpleo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.IdEmpleo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.IdEmpleo, "", new { @class = "text-danger" })
                </div>
                </div>*@



            <div class="form-group" style=" margin-top: -12px;">
                @Html.LabelFor(model => model.Empresa, htmlAttributes: new { @class = "control-label", @style = " margin-left: 17px" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Empresa, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Empresa, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style=" margin-top: -12px;">
                @Html.Label("Email", htmlAttributes: new { @class = "control-label col-lg-3", style = " margin-left: -15px" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", type = "email", id = "correo", onkeyup = "Autocompletar1();" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style=" margin-top: -12px;">
                @Html.Label("URL", htmlAttributes: new { @class = "control-label col-lg-3", style = " margin-left: -25px" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Urlx, new { htmlAttributes = new { @class = "form-control" , placeholder= ""} })
                    @Html.ValidationMessageFor(model => model.Urlx, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style=" margin-top: -12px;">
                @Html.Label("Tipo", htmlAttributes: new { @class = "control-label col-lg-3 ", @style = "text-align:left" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Tipo, ViewData["itemsx"] as IEnumerable<SelectListItem>, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Tipo, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="form-group">
                @Html.LabelFor(model => model.Tipo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Tipo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Tipo, "", new { @class = "text-danger" })
                </div>
                </div>*@

            <div class="form-group" style=" margin-top: -12px;">
                @Html.LabelFor(model => model.Logo, htmlAttributes: new { @class = "control-label col-lg-3 ", @style = "text-align:left" })
                <div class="col-md-10">
                    @*@Html.EditorFor(model => model.Logo, new { htmlAttributes = new { @class = "form-control" } })*@
                    <input type="file" name="imageload" src="~/img/prueba.jpg" />
                    @Html.ValidationMessageFor(model => model.Logo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style=" margin-top: -12px;">
                @Html.LabelFor(model => model.Posicion, htmlAttributes: new { @class = "control-label col-lg-3" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Posicion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Posicion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style=" margin-top: -12px;">
                @Html.LabelFor(model => model.Ubicacion, htmlAttributes: new { @class = "control-label col-lg-3" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Ubicacion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Ubicacion, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group" style=" margin-top: -12px;">
                @Html.Label("Categoria", htmlAttributes: new { @class = "control-label col-lg-3" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Categoria, ViewData["items"] as IEnumerable<SelectListItem>, "Selecciona", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Categoria, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="form-group">
                @Html.Label("Categoria", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Categoria, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Categoria, "", new { @class = "text-danger" })
                </div>
                </div>*@


            <div class="form-group" style=" margin-top: -12px;">
                @Html.Label("como aplicar", htmlAttributes: new { @class = "control-label col-lg-3" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.caplicar, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.caplicar, "", new { @class = "text-danger" })
                </div>
            </div>



            @*<div class="form-group">
                @Html.LabelFor(model => model.Fechapubli, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Fechapubli, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Fechapubli, "", new { @class = "text-danger" })
                </div>
                </div>*@

            <div class="form-group" style=" margin-top: -12px;">
                @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-lg-3" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Descripcion, new { htmlAttributes = new { maxlenght = "250", id = "desc", rows = "1000", col = "1000", style = "resize: both;" } })
                    @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" style=" margin-top: -12px;">
                <div class="col-md-offset-2 col-md-10" style="margin-left: 72px; margin-top: 10px;">
                    <input type="submit" value="Publicar Vacante" class="btn btn-default" />
                </div>
            </div>
        </div>

    </div>


  

 

}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    function Autocompletar1() {
        var correo = document.getElementById("correo").value
        document.getElementById("desc").value = document.getElementById("desc").value + correo;
    }
</script>
