@model Trabajoempleados.Models.EMPLEOS

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout-2.cshtml";
}



<form>
    <dl class="dl-horizontal">

        <div>
            <h4 style="position: absolute;left: 45%;bottom: 75%;font-size: 33px;">Ficha Técnica</h4>

            <hr />
            <dl class="dl-horizontal">

                <div class="center-pageE">
                    <dt class="text-danger form-control fichas" style="text-align:center;">
                        @Html.DisplayName("Código de empleo")
                    </dt>

                    <dd style=" margin-right: -182px; margin-top: 10px;">
                        @Html.DisplayFor(model => model.IdEmpleo)
                    </dd>



                    <dt class="text-danger form-control fichas" style="text-align:center;">
                        @Html.DisplayNameFor(model => model.Empresa)
                    </dt>

                    <dd style=" margin-right: -182px; margin-top: 10px;">
                        @Html.DisplayFor(model => model.Empresa)
                    </dd>

                    <dt class="text-danger form-control fichas" style="text-align:center;">
                        @Html.DisplayNameFor(model => model.Tipo)
                    </dt>

                    <dd style=" margin-right: -182px; margin-top: 10px;">
                        @Html.DisplayFor(model => model.Tipo)
                    </dd>

                    @**<dt class = "text-danger form-control">
                            @Html.DisplayNameFor(model => model.Logo)
                        </dt>*@



                    <dt class="text-danger form-control fichas" style="text-align:center;">
                        @Html.DisplayName("Posición")
                    </dt>

                    <dd style=" margin-right: -182px; margin-top: 10px;">
                        @Html.DisplayFor(model => model.Posicion)
                    </dd>

                    <dt class="text-danger form-control fichas" style="text-align:center;">
                        @Html.DisplayName("Ubicación")
                    </dt>

                    <dd style=" margin-right: -182px; margin-top: 10px;">
                        @Html.DisplayFor(model => model.Ubicacion)
                    </dd>

                    <dt class="text-danger form-control fichas" style="text-align:center;">
                        @Html.DisplayNameFor(model => model.Categoria)
                    </dt>

                    <dd style=" margin-right: -182px; margin-top: 10px;">
                        @Html.DisplayFor(model => model.Categoria)
                    </dd>

                    <dt class="text-danger form-control fichas" style="text-align:center;">
                        @Html.DisplayName("Cómo aplicar")
                    </dt>

                    <dd style=" margin-right: -182px; margin-top: 10px;">
                        @Html.DisplayFor(model => model.caplicar)
                    </dd>

                    <dt class="text-danger form-control fichas" style="text-align:center;">
                        @Html.DisplayName("Correo")
                    </dt>

                    <dd style=" margin-right: -182px; margin-top: 10px;">
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                    <dt class="text-danger form-control fichas" style="text-align:center;">
                        @Html.DisplayName("Fecha")
                    </dt>

                    <dd style=" margin-right: -182px; margin-top: 10px;">
                        @Html.DisplayFor(model => model.Fechapubli)
                    </dd>

                    <dt class="text-danger form-control fichas" style="text-align:center;">
                        @Html.DisplayName("Descripción")
                    </dt>

                    <dd style=" margin-right: -182px; margin-top: 10px;">
                        @Html.DisplayFor(model => model.Descripcion)
                    </dd>

                </div>

                <dd>
                    <div>
                        <img class="imagenes img-rounded" style="width: 400px; margin-top: 140px;" src="@Url.Action("getImage","BEMPLEOS1", new {id=Model.Id})" />
                        @*@Html.DisplayFor(model => model.Logo)*@
                    </div>

                </dd>
            </dl>
        </div>
    </dl>
</form>
@*<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Ver", "BEMPLEOS1")
    </p>*@
