@model Trabajoempleados.Models.EMPLEOS


<link href="~/Content/detalles.css" rel="stylesheet" />
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout4-2.cshtml";
}



<div class="page-content page-container" id="page-content" >
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-xl-6 col-md-12" style="width: 800px; position:center">
                <div class="card user-card-full" >
                    <div class="row m-l-0 m-r-0" >
                        <div class="col-sm-4 bg-c-lite-green user-profile">
                            <div class="card-block text-center text-white">
                                <div class="m-b-25"> <img style="width: 180px;" src="@Url.Action("getImage","BEMPLEOS1", new {id=Model.Id})" class="img-radius" alt="User-Profile-Image"> </div>
                          

                                <h5 class="f-w-600">Empresa</h5>
                                <h4> @Html.DisplayFor(model => model.Empresa)</h4>
                            </div>
                        </div>
                        <div class="col-sm-8" >
                            <div class="card-block" >
                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Información</h6>
                                <div class="row">

                                    <div class="col-sm-4">
                                        <p class="m-b-10 f-w-600">Codigo de Empleo</p>
                                        @Html.DisplayFor(model => model.IdEmpleo, new { htmlAttributes = new { @class = "text-muted f-w-400", @style = "color:#FFFFF" } })
                                    </div>

                                    <div class="col-sm-4">
                                        <p class="m-b-10 f-w-600">Tipo de Jornada</p>
                                        @Html.DisplayFor(model => model.Tipo)
                                    </div>



                                    <div class="col-sm-4">
                                        <p class="m-b-10 f-w-600">Posición</p>
                                        @Html.DisplayFor(model => model.Posicion)
                                    </div>

                                    <h8 style="color:#ffffff">_________________</h8>

                                    <div class="col-sm-4">
                                        <p class="m-b-10 f-w-600">Ubicación</p>
                                        @Html.DisplayFor(model => model.Ubicacion)
                                    </div>

                                    <div class="col-sm-4">
                                        <p class="m-b-10 f-w-600">URL</p>
                                        @Html.DisplayFor(model => model.Urlx)
                                    </div>

                                    <div class="col-sm-4">
                                        <p class="m-b-10 f-w-600">Categoría</p>
                                        @Html.DisplayFor(model => model.Categoria)
                                    </div>
                                    <h8 style="color:#ffffff">_________________</h8>
                                    <div class="col-sm-4">
                                        <p class="m-b-10 f-w-600">¿Cómo Aplicar?</p>
                                        @Html.DisplayFor(model => model.caplicar)
                                    </div>


                                    <div class="col-sm-4">
                                        <p class="m-b-10 f-w-600">Email</p>
                                        @Html.DisplayFor(model => model.Email)
                                    </div>

                                    <div class="col-sm-4">
                                        <p class="m-b-10 f-w-600">Fecha de Publicación</p>
                                        @Html.DisplayFor(model => model.Fechapubli)
                                    </div>
                                    <h8 style="color:#ffffff">_________________</h8>
                                    <div class="col-sm-4">
                                        <p class="m-b-10 f-w-600">Descripción</p>
                                        @Html.TextAreaFor(model => model.Descripcion, new { disabled = "true", cols="40", rows="5", style="resize: both;"})
                                    </div>


                                </div>
                                <ul class="social-link list-unstyled m-t-40 m-b-10">
                                    <li><a href="#!" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="facebook" data-abc="true"><i class="mdi mdi-facebook feather icon-facebook facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#!" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="twitter" data-abc="true"><i class="mdi mdi-twitter feather icon-twitter twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#!" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="instagram" data-abc="true"><i class="mdi mdi-instagram feather icon-instagram instagram" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


