@model IEnumerable<Trabajoempleados.Models.EMPLEOS>

@{
    ViewBag.Title = "Verconfiltro";
    Layout = "~/Views/Shared/_solofooter.cshtml";
}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top" style="margin-top:-55px;">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="http://placehold.it/150x50?text=Logo" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">
                        Bolsa Empleos
                    </a>

                </li>

                <li class="nav-item">
                    <a class="nav-link" href="javascript: history.go(-1)">Volver.</a>
                </li>

                <li class="nav-item" style="margin-top:-15px;">
                    <a class="nav-link">@Html.ActionLink("Cerrar Sesión.", "Login", "Login", new { area = "" }, new { @class = "nav-link" })</a>
                </li>


            </ul>
        </div>
    </div>
</nav>

<form action="" class="form-register2">
    <table class="table" id="tableDemo">
        <thead>
            <tr>
                <th>

                    @Html.DisplayNameFor(model => model.Fechapubli)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Logo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Posicion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ubicacion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Categoria)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderByDescending(i => i.Id))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fechapubli)
                    </td>
                    <td>
                        <img width="100" src="@Url.Action("getImage","BEMPLEOS1", new {id = item.Id })" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Posicion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ubicacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Categoria)
                    </td>

                    <td>
                        <a class="btn btn-primary btn-xs" title="Editar" href="@Url.Action("Detailsadmin", "BEMPLEOS1", new { id = item.Id})">
                            <i class="glyphicon glyphicon-list"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>

@section scripts{

    <script>$('#tableDemo').DataTable();</script>

    <script>
        function LoadingOverlayShow(id) {
            $(id).LoadingOverlay("show", {
                color: "rgba(255, 255, 255, 0.5)",
                image: "/Content/loading.gif",
                imageResizeFactor: 0.6,
                //imageAnimation: "1.5s fadein",
            });
        }
        function LoadingOverlayHide(id) {
            $(id).LoadingOverlay("hide");
        }
        function EliminarUsuario(id) {
            $.confirm({
                title: 'Eliminar Documento',

                content: '¿Seguro de eliminar este Documento?',
                buttons: {
                    Confirmar: function () {
                        LoadingOverlayShow("#tableDemo");
                        $.ajax({
                            url: "/Doc/Eliminar",
                            type: "post",
                            data: { idd: id }
                        }).done(function (response) {
                            location.reload();
                        }).fail(function (jqXHR, textStatus, errorThrown) {
                            alert(textStatus);
                            location.reload();
                        });

                    },
                    Cancelar: function () {

                    },
                }
            });

        }


    </script>
}