@model Trabajoempleados.Models.ADMINISTRADORES

<link href="~/Content/Login.css" rel="stylesheet" />

@{
    ViewBag.Title = "Iniciar Sesion";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

@using (Html.BeginForm())

{

    @Html.AntiForgeryToken()


    if (@ViewBag.Mensaje != null)
    {
        <div id="popupdiv" style="border: 2px solid red; background-color:white; display: none;">
            @ViewBag.Mensaje
        </div>

    }

<body>


    <div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
        <div class="card card0 border-0">
            <div class="row d-flex">
                <div class="col-lg-6">
                    <div class="card1 pb-5">
                        <div class="row"> <img src="https://i.imgur.com/CXQmsmF.png" class="logo"> </div>
                        <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img src="https://i.imgur.com/uNGdWHi.png" class="image"> </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card2 card border-0 px-4 py-5">

                        <br />
                        <br />
                        <br />
                        <br />
                        <br />

                        <div class="row px-3">
                            <label class="mb-1">
                                <h6 class="mb-0 text-sm">Correo</h6>
                            </label>

                            @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { type = "Email", @class = "form-control" } })

                        </div>

                        <div class="row px-3">
                            <label class="mb-1">
                                <h6 class="mb-0 text-sm">Contraseña</h6>
                            </label>         @Html.EditorFor(model => model.Contrasena, new { htmlAttributes = new { type = "password", @class = "form-control" } })
                        </div>

                        <br />
                        <br />
                        <input type="submit" style="margin-left:140px; margin-top:-40px;" value="Iniciar Sesión" class="btn btn-blue text-center" />
                        <br />
                        <div class="row mb-4 px-3">
                            <small class="font-weight-bold">
                                Si no tienes una cuenta, registrate como:
                            </small>
                        </div>
                        <ul>
                            <li>  @Html.ActionLink("Candidato", "Create", "BCANDIDATOS1", new { area = "" }, new { @class = "dropdown-item" })</li>
                            <li>  @Html.ActionLink("Contratista", "Create", "BCONTRATISTAS1", new { area = "" }, new { @class = "dropdown-item" })</li>
                        </ul>
                    </div>


                </div>
            </div>
            <div class="bg-blue py-4">
                <div class="row px-3">
                    <small class="ml-4 ml-sm-5 mb-2">Copyright &copy; 2021. Todos los derechos reservados.</small>
                    <div class="social-contact ml-4 ml-sm-auto"> <span class="fa fa-facebook mr-4 text-sm"></span> <span class="fa fa-google-plus mr-4 text-sm"></span> <span class="fa fa-linkedin mr-4 text-sm"></span> <span class="fa fa-twitter mr-4 mr-sm-5 text-sm"></span> </div>
                </div>
            </div>
        </div>
    </div>




    @*<div class="login-box">

            <div class="center-page">
                <form>
                    <h2 class="text-center" style="padding:25px; padding-top: 0px;">Iniciar Sesión</h2>
                    @Html.Label("Usuario", htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Correo, new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control" /*, @style =
                    /*" height: 50px;  " +
                    "background-color: red;" +
                    "position: absolute;" +
                    "right: 500px;" +
                    "width: 200px;" +
                    "border: 3px solid green;"


                   */





               }
                    })
                    @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })

                    @Html.Label("Contraseña", htmlAttributes: new { @class = "control-label col-md-2", @style = " margin-top: 16px" })
                    @Html.EditorFor(model => model.Contrasena, new { htmlAttributes = new { type = "password", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Contrasena, "", new { @class = "text-danger" })




                    <input type="submit" value="Iniciar Sesión" class="btn btn-default" style="margin-top: 16px" />

                    <div style="margin-top: 16px">
                        <a>@Html.ActionLink("¿No eres Administrador? Click Aquí", "Ver", "Trailer")</a>

                    </div>


                </form>

            </div>

        </div>*@

</body>






}

